.offers {
  padding: 40px 20px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.offers-heading {
  font-size: 2.2rem;
  margin-bottom: 10px;
  text-align: left;
  color: black;
}

.offers-subtext {
  color: #555;
  text-align: left;
  font-size: 1rem;
  margin: 4px 0;
}

.offers-container {
  display: flex;
  margin-top: 30px;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 150px;
}

.offers-image img {
  margin-left: 50px;
  width: 450px;
  max-width: 100%;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Right side offer cards */
.offers-list {
  display: flex;
  flex-direction: column;
  gap: 50px;
  max-width: 600px;
  text-align: left;
}

.offer-card {
  background-color: #ffffff;
  border: 1px solid #ffd4c2;
  border-radius: 10px;
  padding: 20px 60px;
  box-shadow: 0 4px 8px rgba(217, 79, 48, 0.1);
  position: relative;
}

.offer-badge {
  position: absolute;
  top: 12px;
  right: 12px;
  background-color: #ffefe8;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 0.85rem;
  color: #a83232;
  font-weight: bold;
}

.offer-card h3 {
  color: #a83232;
  margin-bottom: 10px;
}

.offer-card p {
  margin: 5px 0;
  font-size: 0.95rem;
}

.offer-code {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: bold;
  color: #333;
}

.offer-code img {
  width: 18px;
}

.validity {
  color: #888;
  font-size: 0.85rem;
  margin-top: 10px;
}

/* Responsive */
@media (max-width: 900px) {
  .offers-container {
    flex-direction: column;
    align-items: center;
  }
}
